.links {
  float: right;
}

.links a {
  text-decoration: none;
  color: red;
}

header {
  font-size: 2rem;
  padding: 0.5em;
}

body {
  background-image: url("./assets/background\ portfolio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
